.upload-container {
    margin-bottom: 20px;
    display: flex;
    flex-direction: column;
  }
  
.upload-input {
    margin-right: 10px;
}

.upload-button {
    cursor: pointer;
    background-color: #3498db;
    color: #fff;
    border: none;
    padding: 10px 15px;
    border-radius: 5px;
    font-size: 16px;
    width: 200px;
    margin-top: 30px;
}

.edit-button {
    cursor: pointer;
    background-color: #3498db;
    color: #fff;
    border: none;
    padding: 10px 15px;
    border-radius: 5px;
    font-size: 16px;
    width: 200px;
    margin-top: 30px;
}